@charset "UTF-8";
/* CSS Document */

/* TruTech Door Configuration Application CSS */
/* For: iScape/Home Revivals LLC */
/* By: Michael McGraw */

html, body {
    /*background: rgb(52, 64, 86);*/
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.428571429;
    color: #333;
    background-color: #fff;
}

/* id styles ----- */
#container {
    /*width: 900px;*/
    /*height: 600px;*/
    /*border: 1px solid black;*/
    /*margin: 30px auto;*/
    /*background: rgba(204, 204, 204, 1);*/
    /*overflow: hidden;*/
}

#top-bar {
    width: 100%;
    height: 75px;
    border-bottom: 1px solid black;
    background: white;
}

#bottom-bar {
    /* id="Bottom Bar"  */
    width: 100%;
    height: 25px;
    top: 460px;
    border-top: 1px solid black;
    /*background: white;*/
    text-align: center;
    color: rgb(42, 60, 93);
    padding-top: 5px;
}

#stepDisplay {
    /*width: 899px;*/
    width: 100%;
    height: 25px;
    /*border-bottom: 1px solid black;*/
    color: rgb(42, 60, 93);
    /*margin: 20px 0 0 0;*/
    margin: 29px 0 0 0;
    /*background: purple;*/
    overflow: hidden;
}

#stepDisplay > div {
    display: inline;
    float: left;
}

#stepDisplay > div > .label {
    height: 100%;
    width: 100%;
    /*padding: 5px;*/
    padding: 13px;
    margin: 0;
    text-align: center;
    font-size: 14px;
    border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    border-right: none !important;
    border-top: none !important;
    border-bottom: none !important;
    border-left: 1px solid #000000;
}

#step1-Configuration {
    /*width: 298px;*/
    /*width: 33.3%;*/
    height: 40px;
    text-align: center;
    padding: 13px;
    margin: 0;
    text-align: center;
    font-size: 14px;
    border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    border-right: none !important;
    border-top: none !important;
    border-bottom: none !important;
    border-left: 1px solid #000000;
    font-weight: bold;
    line-height: 14px;
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    white-space: nowrap;
    vertical-align: baseline;
}

.tabsTrueTech {
    margin-top: 16px;
}

#step2-DoorBuild {
    /*width: 298px;*/
    /*width: 33.3%;*/
    height: 40px;
    text-align: center;
    padding: 13px;
    margin: 0;
    text-align: center;
    font-size: 14px;
    border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    border-right: none !important;
    border-top: none !important;
    border-bottom: none !important;
    border-left: 1px solid #000000;
    font-weight: bold;
    line-height: 14px;
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    white-space: nowrap;
    vertical-align: baseline;
}

#step3-TryItOn {
    /*width: 298px;*/
    /*width: 33.3%;*/
    height: 40px;
    text-align: center;
    padding: 13px;
    margin: 0;
    text-align: center;
    font-size: 14px;
    border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    border-right: none !important;
    border-top: none !important;
    border-bottom: none !important;
    border-left: 1px solid #000000;
    font-weight: bold;
    line-height: 14px;
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    white-space: nowrap;
    vertical-align: baseline;
}

.stepShare {
    height: 40px !important;
    width: 100%;
    margin-left: 0 !important;
}

/*  Parents */

#nav-bar {
    /* id="Nav Bar"  */
    width: 100%;
    /*height: 25px;*/
    /*height: 18%;*/
    border-bottom: 1px solid black;
    color: rgb(42, 60, 93);
    /*margin-top: -20px;*/
}

#nav-list li {
    display: inline;
    float: left;
    line-height: 25px;
}

#nav-list li > a {
    width: 300px;
    color: rgba(255, 0, 51, 1);
    height: 100%;
    display: inline;
    float: left;
    text-align: center;
}

#nav-list > a:hover {
    color: #112b48;
}

/* ===== Step 1  ===== Configuration Styles Begin ===== Step 1  ===== */
#configuration {
    width: 99.9%;
    /*height: 466px;*/
    /*height: 665px !important;*/
    color: rgb(0, 136, 204);
    overflow: hidden;
    -moz-box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

/* Configuration Left  ---*/

#configuration-left {
    border-right: 1px solid black;
    /*width: 448px;*/
    width: 50%;
    height: 100%;
    overflow: hidden;
    /*display: inline;*/
    float: left;
    min-height: 596px !important;
}

#configuration-top-bar-left {
    padding-top: 10px;
    font-size: 12px;
    text-align: center;
    color: rgba(35, 49, 76, 1);
    height: 25px;
    width: 100%;
    border-bottom: 1px solid black;
    background: rgb(255, 255, 255);
}

#config-left-top {
    width: 100%;
    /*height: 125px;*/
    text-align: center;
    height: 300px;
    overflow: auto;
}

#config-left-mid {
    width: 100%;
    /*height: 125px;*/
    /*overflow-y: auto;*/
    border-top: 1px solid black;
    /*border-bottom: 1px solid black;*/
    text-align: center;
    height: 300px;
    overflow: auto;
}

#config-left-bottom {
    width: 100%;
    height: 110px;
}

#configuration-right {
    /*width: 450px;*/
    width: 50%;
    height: 100%;
    display: inline;
    float: left;
    min-height: 603px;
}

.marginFrameDouble {
    margin-left: 20%;
    margin-top: 20%;

}

.marginFrameSingle {
    margin-left: 30%;
    margin-top: 20%;
}

#homeImagesCont {
    overflow: auto !important;
    height: 566px;
    margin-left: 40px;

}

#imageBackCont {
    float: left;
    width: 35%;
}

.otherOptionImg {
    float: left;
    width: 60%;
}

.d-door2 img {
    height: 300px;
}

.d-lsl2 img {
    height: 300px;
    min-width: 50px;
}

.d-rsl2 img {
    height: 300px;
    min-width: 50px;
}

.d-door2 {
    width: 240px;
    height: 300px;
    /*margin: 40px 50px;*/
    margin: 40px 49px;
    /*position: absolute;*/
    float: left;
}

.d-door img {
    height: 300px;
}

.d-rsl img {
    height: 300px;
}

.d-door {
    /*width: 240px;*/
    height: 300px;
    /*margin: 20px 50px;*/
    margin: 40px 50px;
    float: left;
    /*margin-top: 0px !important;*/
    margin-left: 0;
    margin-right: 0;
}

.d-lsl {
    /*width: 49px;*/
    /*width: 46px;*/
    max-height: 300px;
    /*margin: 20px 7px;*/
    /*margin: 40px 7px;*/
    margin: 40px 0px;
    float: left;
    /*margin-top: 0px !important;*/
}

.d-rsl {
    /*width: 46px;*/
    max-height: 300px;
    /*margin: 20px 289px;*/
    /*margin: 40px 289px;*/
    float: left;
    margin-top: 40px;
}

.d-tran {
    height: 40px;
    /*margin: -17px 0 0px 4px;*/
    margin: -17px 0 0px 0px;
    width: 332px;
    position: absolute;
    margin-top: 0px !important;
}

.s-door {
    width: 147px;
    height: 300px;
    /*margin: 40px 50px;*/
    margin: 40px 45px;
    z-index: 32;
    position: absolute;
    display: block;
    /*margin-top: 0px !important;*/
}

.s-lsl {
    width: 46px;
    height: 320px;
    margin: 40px 0px;
    position: absolute;
    /*margin-top: 0px !important;*/
}

.s-rsl {
    width: 46px;
    height: 300px;
    position: absolute;
    /*margin: 40px 196px;*/
    margin: 40px 192px;
    /*margin-top: 0px !important;*/
}

.s-tran {
    width: 240px;
    height: 40px;
    margin: 0px;
    position: absolute;
    margin-top: 0px !important;
}

.s-door2 {
    width: 147px;
    /*width: 150px;*/
    height: 300px;
    /*margin: 40px 50px;*/
    margin: 40px 46px;
    z-index: 32;
    /*position: absolute;*/
    float: left;
    display: block;
}

.s-door2 img {
    /*width: 147px;*/
    width: 147px;
    height: 300px;
}

.s-lsl2 img {
    height: 300px;
    min-width: 46px;
}

.s-lsl2 {
    width: 46px;
    height: 320px;
    margin: 40px 0px;
    /*position: absolute;*/
    float: left;
}

.s-rsl2 img {
    height: 300px;
    min-width: 46px;
}

.s-rsl2 {
    width: 46px;
    height: 300px;
    /*position: absolute;*/
    float: left;
    margin: 40px 196px;
}

.d-tran img {
    width: 332px;
    height: 40px;
}

.s-door img {
    width: 147px;
    height: 300px;
}

.s-lsl img {
    height: 300px;
}

.s-rsl img {
    height: 300px;
}

.s-tran img {
    width: 242px;
    height: 40px;
    position: relative;
}

.s-tran2 img {
    width: 242px;
    height: 40px;
    position: relative;
}

.s-tran2 {
    width: 240px;
    /*height: 40px;*/
    margin: 0px;
    /*position: absolute;*/
    float: left;
}

.d-lsl2 {
    width: 49px;
    max-height: 300px;
    margin: 40px 0px;
    /*position: absolute;*/
    float: left;
}

.d-rsl2 {
    width: 49px;
    max-height: 300px;
    /*margin: 40px 290px;*/
    margin: 40px 289px;
    /*position: absolute;*/
    float: left;
}

.d-tran2 img {
    width: 341px;
    margin-top: 0;
    height: 40px;
    /*margin-bottom: -15px;*/
    /*height: 58px;*/
}

.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 14px;
    color: inherit;
    /*float: left;*/
    /*width: 85%;*/
}

.DoorStyleImages {
    float: left;
    margin: 10px 10px 10px 10px;
    word-wrap: break-word;
    width: 10%;
    height: 100px;
    padding-left: 8px;
}

#door-btn-group {
    /*margin: -2px 150px;*/
    /*margin: -2px 228px;*/
    float: left;
    width: 100%;
    margin-left: 37%;
    margin-top: -5px;
}

.chooseOptions {
    float: left;
    width: 78%;
    padding: 5px 5px 5px 5px;
    margin: 5px 5px 5px 5px;
}

.chooseHome {
    float: left;
    width: 20%;
    border-right: 1px solid #000000;
    padding: 10px 5px 5px 5px;
}

#homeImagesCont > img {
    width: 80%;
    /*height: 96px;*/
    padding: 5px 11px 5px 15px;
    cursor: pointer;
    -webkit-box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
}

#build-a-door-right {
    display: block;
    /*background-color: #EAEAEC;*/
    /*height: 470px;*/
    /*width: 450px;*/
    width: 50%;
    /*float: right;*/
    float: left;
    /*min-height: 560px;*/
    min-height: 94%;
}

#try-it-on {
    /*width: 900px;*/
    width: 99.9%;
    /*height: 600px !important;*/
    height: 665px;
    /*height: 570px;*/
    color: rgb(0, 136, 204);
    display: block;
    overflow: hidden;
    -moz-box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;

}

/* ---- Configuration Right Styles Begin ---*/
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
    #sliderResize {
        top: 12px !important;
    }

    #try-it-on {
        /*width: 900px;*/
        width: 99.9%;
        /*height: 600px !important;*/
        height: 340px !important;
        /*height: 570px;*/
        color: rgb(0, 136, 204);
        display: block;
        overflow: hidden;
        -moz-box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.2);
        -webkit-box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.2);
        box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.2);
        margin-bottom: 20px;

    }

    #build-a-door-right {
        display: block;
        /*background-color: #EAEAEC;*/
        /*height: 470px;*/
        /*width: 450px;*/
        width: 50%;
        /*float: right;*/
        float: left;
        /*min-height: 560px;*/
        min-height: 89%;
    }

    #build-a-door {
        height: 340px !important;
    }

    #configuration-left {
        border-right: 1px solid black;
        /*width: 448px;*/
        width: 50%;
        height: 100%;
        overflow: hidden;
        /*display: inline;*/
        float: left;
        min-height: 300px !important;
    }

    #config-left-mid {
        width: 100%;
        /*height: 125px;*/
        /*overflow-y: auto;*/
        border-top: 1px solid black;
        /*border-bottom: 1px solid black;*/
        text-align: center;
        height: 150px;
        overflow: auto;
    }

    #config-left-top {
        width: 100%;
        /*height: 125px;*/
        text-align: center;
        height: 150px;
        overflow: auto;
    }

    #configuration-right {
        width: 50%;
        /*height: 100%;*/
        display: inline;
        float: left;
        min-height: 300px !important;
        height: 300px;
    }

    .marginFrameDouble {
        margin-left: 7%;
        /*margin-top: 40%;*/
        margin-top: 12%;

    }

    .buildRightImage {
        margin-top: 1% !important;
    }

    .singleFrame {
        height: 292px !important;
    }

    .doubleFrame {
        height: 260px !important;
    }

    .singleFrame2 {
        height: 292px !important;
    }

    .doubleFrame2 {
        height: 260px !important;
    }

    .marginFrameSingle {
        margin-left: 20%;
        /*margin-top: 40% !important;*/
        margin-top: 2% !important;
    }

    #homeImagesCont {
        overflow: auto !important;
        /*height: 490px;*/
        height: 200px;
        margin-left: 20px;

    }

    #imageBackCont {
        float: left;
        width: 100%;
    }

    .otherOptionImg {
        float: left;
        width: 100%;
    }

    .d-door2 img {
        height: 250px;
    }

    .d-door img {
        height: 250px;
    }

    .d-lsl2 img {
        height: 250px;
        min-width: 50px;
    }

    .d-lsl img {
        height: 250px;
        min-width: 50px;
    }

    .d-rsl2 img {
        height: 250px;
        min-width: 50px;
    }

    .d-rsl img {
        height: 250px;
        min-width: 50px;
    }

    .d-door2 {
        width: 200px;
        /*height: 300px;*/
        height: 260px;
        /*margin: 40px 50px;*/
        margin: 40px 49px;
        /*position: absolute;*/
        float: left;
    }

    .d-door {
        width: 200px;
        height: 250px !important;
        /*margin: 20px 50px;*/
        margin: 0;
        float: left;
        /*margin-top: 0px !important;*/
    }

    .d-lsl {
        /*width: 49px;*/
        width: 49px;
        /*max-height: 300px;*/
        max-height: 260px;
        /*margin: 20px 7px;*/
        margin: 0;
        float: left;
        /*margin-top: 0px !important;*/
    }

    .d-rsl {
        width: 46px;
        /*max-height: 300px;*/
        max-height: 260px;
        /*margin: 20px 289px;*/
        margin: 0;
        float: left;
        /*margin-top: 0px !important;*/
    }

    .d-tran {
        height: 40px;
        margin: -17px 0 0px 0px;
        width: 332px;
        float: left;
        margin-top: -39px !important;
    }

    .s-door {
        /*width: 147px;*/
        height: 250px;
        /*margin: 40px 50px;*/
        z-index: 32;
        float: left;
        display: block;
        position: static !important;
        margin: 0 !important;
        /*margin-top: 0px !important;*/
    }

    .s-door2 {
        /*width: 147px;*/
        /*width: 150px;*/
        height: 250px;
        /*margin: 40px 50px;*/
        /*margin: 40px 46px;*/
        z-index: 32;
        /*position: absolute;*/
        float: left;
        display: block;
        position: static !important;
        margin: 0 !important;
    }

    .s-lsl {
        width: 39px !important;
        height: 250px;
        /*margin: 40px 0px;*/
        margin: 0 !important;
        float: left;
        position: static !important;
        /*margin-top: 0px !important;*/
    }

    .s-rsl {
        width: 39px !important;
        height: 250px;
        position: static !important;
        margin: 0 !important;
        float: left;
        /*margin-top: 0px !important;*/
    }

    .s-tran {
        width: 240px;
        height: 40px;
        margin: 0px;
        position: static !important;
        margin-top: 0px !important;
    }

    .s-door2 img {
        /*width: 147px;*/
        width: 100%;
        height: 100%;
    }

    .s-lsl2 img {
        height: 100%;
        min-width: 100%;
    }

    .s-lsl2 {
        width: 46px;
        height: 250px !important;
        margin: 0 !important;
        /*position: absolute;*/
        float: left;
    }

    .s-rsl2 img {
        height: 100%;
        min-width: 100%;
    }

    .s-rsl2 {
        width: 46px;
        height: 250px;
        /*position: absolute;*/
        float: left;
        margin: 0 !important;
    }

}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {

    .carousel-indicators {
        display: none !important;
    }

    #clonedImages {
        left: 150px;
    }

    #sliderResize {
        left: 93% !important;
    }

    #homeImagesCont > img {
        width: 100%;
        /*height: 96px;*/
        padding: 5px 11px 5px 15px;
        cursor: pointer;
        -webkit-box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.2);
        box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.2);
        margin-top: 20px;
    }

    .chooseHome {
        float: left;
        width: 20%;
        border-right: 1px solid #000000;
        padding: 0px 5px 5px 5px;
        height: 116px;
    }

    .btn-info {
        font-size: 10px;
    }

    .chooseOptions {
        float: left;
        width: 75%;
        padding: 5px 5px 5px 5px;
        margin: 5px 5px 5px 5px;
    }

    #door-btn-group {
        /*margin: -2px 150px;*/
        /*margin: -2px 228px;*/
        float: left;
        width: 100%;
        margin-left: 25%;
        margin-top: -5px;
    }

    .DoorStyleImages {
        float: left;
        margin: 10px 10px 10px 10px;
        word-wrap: break-word;
        width: 15%;
        height: 100px;
        padding-left: 8px;
    }

    .panel-title {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 14px;
        color: inherit;
        /*float: left;*/
        width: 85% !important;
    }

    .s-tran img {
        /*width: 100px;*/
        height: 25px;
        position: relative;
    }

    .s-tran2 img {
        /*width: 100px;*/
        height: 25px;
        position: relative;
    }

    #configuration-right {
        width: 50%;
        height: 100%;
        display: inline;
        float: left;
        /*min-height: 940px !important;*/
    }

    .marginFrameDouble {
        margin-left: 12%;
        margin-top: 40%;

    }

    .marginFrameSingle {
        margin-left: 30%;
        margin-top: 40% !important;
    }

    #homeImagesCont {
        overflow: auto !important;
        height: 490px;
        margin-left: 1px;

    }

    #imageBackCont {
        float: left;
        width: 100%;
    }

    .otherOptionImg {
        float: left;
        width: 100%;
    }

    .d-door2 img {
        height: 250px;
    }

    .d-door img {
        height: 190px;
    }

    .d-door2 img {
        height: 190px;
    }

    .d-lsl img {
        height: 190px;
        /*min-width: 50px;*/
    }

    .d-lsl2 img {
        height: 190px;
        min-width: 30px;
    }

    .d-rsl2 img {
        height: 190px;
        min-width: 30px;
    }

    .d-rsl img {
        height: 190px;
        /*min-width: 50px;*/
    }

    .d-door2 {
        width: 150px;
        height: 300px;
        /*margin: 40px 50px;*/
        margin: 40px 49px;
        /*position: absolute;*/
        float: left;
    }

    .d-door {
        /*width: 200px;*/
        /*height: 300px;*/
        /*margin: 20px 50px;*/
        margin: 0;
        float: left;
        /*margin-top: 0px !important;*/
    }

    .d-lsl {
        /*width: 49px;*/
        /*width: 49px;*/
        max-height: 300px;
        /*margin: 20px 7px;*/
        margin: 0;
        float: left;
        /*margin-top: 0px !important;*/
    }

    .d-lsl2 {
        width: 30px;
        /*width: 49px;*/
        max-height: 300px;
        /*margin: 20px 7px;*/
        margin: 0;
        float: left;
        /*margin-top: 0px !important;*/
    }

    .d-rsl {
        /*width: 46px;*/
        max-height: 300px;
        /*margin: 20px 289px;*/
        margin: 0;
        float: left;
        /*margin-top: 0px !important;*/
    }

    .d-rsl2 {
        width: 30px;
        max-height: 300px;
        /*margin: 20px 289px;*/
        margin: 0;
        float: left;
        /*margin-top: 0px !important;*/
    }

    .d-tran {
        height: 40px;
        margin: -17px 0 0px 0px;
        width: 332px;
        float: left;
        margin-top: -25px !important;
    }

    .s-door {
        width: 100px;
        height: 250px;
        /*margin: 40px 50px;*/
        z-index: 32;
        float: left;
        display: block;
        position: static !important;
        margin: 0 !important;
        /*margin-top: 0px !important;*/
    }

    .s-door2 {
        width: 100px;
        /*width: 150px;*/
        height: 250px;
        /*margin: 40px 50px;*/
        /*margin: 40px 46px;*/
        z-index: 32;
        /*position: absolute;*/
        float: left;
        display: block;
        position: static !important;
        margin: 0 !important;
    }

    .s-lsl {
        width: 30px !important;
        height: 250px;
        /*margin: 40px 0px;*/
        margin: 0 !important;
        float: left;
        position: static !important;
        /*margin-top: 0px !important;*/
    }

    .s-lsl2 {
        width: 30px !important;
        height: 250px;
        /*margin: 40px 0px;*/
        margin: 0 !important;
        float: left;
        position: static !important;
        /*margin-top: 0px !important;*/
    }

    .s-rsl {
        width: 39px !important;
        height: 250px;
        position: static !important;
        margin: 0 !important;
        float: left;
        /*margin-top: 0px !important;*/
    }

    .s-rsl2 {
        width: 30px !important;
        height: 250px;
        position: static !important;
        margin: 0 !important;
        float: left;
        /*margin-top: 0px !important;*/
    }

    .s-tran {
        width: 240px;
        height: 25px;
        margin: 0px;
        position: static !important;
        margin-top: 0px !important;
    }

    .s-tran2 {
        width: 240px;
        height: 25px;
        margin: 0px;
        position: absolute !important;
        margin-top: -25px !important;
    }

    .s-door2 img {
        /*width: 147px;*/
        width: 100%;
        height: 100%;
    }

    .s-lsl2 img {
        height: 100%;
        min-width: 100%;
    }

    .s-lsl2 {
        width: 46px;
        height: 250px !important;
        margin: 0 !important;
        /*position: absolute;*/
        float: left;
    }

    .s-rsl2 img {
        height: 100%;
        min-width: 100%;
    }

    #configuration-top-bar-left {
        padding-top: 10px;
        font-size: 10px;
        text-align: center;
        color: rgba(35, 49, 76, 1);
        height: 25px;
        width: 100%;
        border-bottom: 1px solid black;
        background: rgb(255, 255, 255);
    }

    .d-tran img {
        width: 210px;
        height: 25px;
    }

    .d-tran2 img {
        width: 210px;
        height: 25px;
    }

    .s-door img {
        height: 200px;
        width: 100%;
    }

    .s-door2 img {
        height: 200px;
        width: 100%;
    }

    .s-lsl img {
        height: 200px;
    }

    .s-lsl2 img {
        height: 200px;
    }

    .s-rsl img {
        height: 200px;
    }

    .s-rsl2 img {
        height: 200px;
    }

}

#config-display {
    /*width: 450px;*/
    height: 100%;
    /*background: #EAEAEC;*/
    /*padding-top: 35px;*/
}

#doubleFrame {
    width: 100%;
    height: 340px;
    /*margin: 20px 60px;*/
    /*margin: 91px 142px;*/
    z-index: 1;
    background-repeat: no-repeat;
    position: relative;
    text-align: center;
}

.doubleFrame {
    width: 100%;
    height: 340px;
    /*margin: 20px 60px;*/
    /*margin: 91px 142px;*/
    z-index: 1;
    background-repeat: no-repeat;
    position: relative;
    text-align: center;
}

#d-tran {
    height: 40px;
    margin: -17px 0 0px 4px;
    width: 332px;
    position: absolute;
}

#d-tran img {
    width: 332px;
    height: 40px;
}

#d-lsl {
    width: 49px;
    max-height: 300px;
    margin: 20px 7px;
    position: absolute;
}

#d-rsl {
    width: 46px;
    max-height: 300px;
    margin: 20px 289px;
    position: absolute;
}

#d-door {
    width: 240px;
    height: 300px;
    margin: 20px 50px;
    position: absolute;
}

#d-door img {
    height: 300px;
}

#d-lsl img {
    height: 300px;
}

#d-lsl2 img {
    height: 300px;
    min-width: 50px;
}

#d-rsl img {
    height: 300px;
}

#d-rsl2 img {
    height: 300px;
    min-width: 50px;
}

#s-lsl img {
    height: 300px;
}

#s-lsl2 img {
    height: 300px;
    min-width: 46px;
}

#s-rsl img {
    height: 300px;
}

#s-rsl2 img {
    height: 300px;
    min-width: 46px;
}

.ui-draggable {
    cursor: move;
}

#singleFrame {
    width: 100%;
    height: 340px;
    background-repeat: no-repeat;
    position: relative;
    /*margin: 0 105px;*/
    z-index: 2;
    /*margin: 91px 192px;*/
    text-align: center;
}

.singleFrame {
    width: 100%;
    height: 340px;
    background-repeat: no-repeat;
    position: relative;
    /*margin: 0 105px;*/
    z-index: 2;
    /*margin: 91px 192px;*/
    text-align: center;
}

#s-door {
    width: 147px;
    height: 300px;
    margin: 40px 50px;
    z-index: 32;
    position: absolute;
    display: block;
}

#s-door img {
    width: 147px;
    height: 300px;
}

#s-lsl {
    width: 46px;
    height: 320px;
    margin: 40px 0px;
    position: absolute;
}

#s-rsl {
    width: 46px;
    height: 300px;
    position: absolute;
    margin: 40px 196px;
}

#s-tran {
    width: 240px;
    height: 40px;
    margin: 0px;
    position: absolute;
}

#s-tran img {
    width: 242px;
    height: 40px;
    position: relative;
}

/* ---- Configuration Next Styles Begin ------*/

#config-next {
    height: 37px;
    border-top: 1px solid black;
    background: rgba(102, 102, 102, 1);
    /*width: 450px;*/
    width: 50%;
    float: left;
}

#config-next button {
    border: 1px solid black;
    /*height: 25px;*/
    height: 31px;
    /*padding: 2px;*/
    padding: 0px;
    width: 175px;
    color: rgba(0, 0, 102, 0.1);
}

#config-next span {
    /*margin-top: 6px;*/
    /*margin-left: 36%;*/
    float: left;
    width: 100%;
    border: none !important;
    background: rgba(102, 102, 102, 1);
}

/* ===== Step 2  ===== Build-A-Door Styles Begin ===== */

#build-a-door {
    /*width: 900px;*/
    /*height: 600px !important;*/
    height: 665px;
    width: 99.9%;
    /*height: 100%;*/
    overflow: hidden;
    /*display:;*/
    -moz-box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

#right-display {
    width: 100%;
    height: 100%;
    background: rgba(204, 255, 204, 1);
}

#build-a-door-left {
    border-right: 1px solid black;
    /*width: 448px;*/
    width: 50%;
    height: 100%;
    overflow: hidden;
    display: inline;
    float: left;
    /*min-height: 470px;*/
    min-height: 562px;
}

#buildDoor-top-bar-left {
    padding-top: 10px;
    font-size: 12px;
    text-align: center;
    color: rgba(35, 49, 76, 1);
    height: 25px;
    width: 100%;
    border-bottom: 1px solid black;
    background: rgb(255, 255, 255);
}

#buildDoorNav {
    border-bottom: 1px solid black;
    width: 450px;
    height: 32px;
    padding-top: 5px;
    background: white;
}

#buildDoorBtns {
    margin: -2px 23%;
    padding-bottom: 5px;
}

#buildDoorBtns buttons {
    color: rgba(35, 49, 76, 1);
}

#doordrp {
    float: left;
    width: 100%;
}

#doorStyle {
    border-top: 1px solid black;
    width: 408px;
    /*height: 40px;*/
    height: 52px;
    background: rgba(179, 179, 179, 1);
    /*padding-top: 6px;*/
    padding-top: 0px;
    display: block;
}

#configStyle {
    /*margin-top: 4px;*/
    margin-top: 8px;
    width: 207px;
    /*margin-left: -11px;*/
    margin-left: 129px;
}

#doorStyleLeft {
    display: inline;
    float: left;
}

#doorStyleRight {
    width: 100%;
    height: 35px;
    display: inline;
    float: left;
    /*position: absolute;*/
    padding-bottom: 10px;
}

#doorStyleLabel {
    height: 20px;
    width: 170px;
    text-align: center;
    padding-top: 5px;
    margin: 4px 40px 0 0;
}

#doorType {
    border-top: 1px solid #222;
    border-bottom: 1px solid #222;
    width: 450px;
    height: 40px;
    padding-top: 5px;
    background: rgba(179, 179, 179, 1);
    padding-top: 10px;
    display: block;
}

#doorTypeLabel {
    width: 173px;
    height: 19px;
    text-align: center;
    padding-top: 5px;
}

#doorTypeLeft {
    width: 208px;
    height: 75%;
    display: inline;
    float: left;
    padding-left: 9px;
    padding-top: 8px;
    color: rgba(35, 49, 76, 1);
    margin-left: 11px;
    margin-top: -7px;
}

#doorTypeRight {
    width: 211px;
    height: 35px;
    display: inline;
    float: left;
    padding-bottom: 10px;
    margin-right: 10px;
}

#doorTypeRightBtns {
    margin-bottom: 6px;
}

#doorGlass {
    height: 104px;
    width: 100%;
    background: rgba(179, 179, 179, 1);
    position: relative;
    bottom: 0;
    left: 0;
}

#glassCollection {
    border-top: 1px solid black;
    width: 450px;
    /*height: 50px;*/
    height: 52px;
    background: rgba(179, 179, 179, 1);
    display: block;
    /*padding-top: 8px;*/
    padding-top: 1px;
    border-bottom: 1px solid #222;
}

#glassStyle {
    height: 53px;
    width: 100%;
    position: relative;

}

#glassStyleLeft {
    width: 204px;
    height: 100%;
    display: inline;
    float: left;
    padding-left: 9px;
    color: rgba(35, 49, 76, 1);
    padding-top: 8px;
}

#gStyleGlass {
    /*margin: 9px -214px 0 19px;*/
    /*margin: 9px -214px 0 150px;*/
}

#glassStyleRight {
    width: 100%;
    height: 35px;
    display: inline;
    float: left;
    padding-bottom: 10px;
}

#glassCollectionLeft {
    width: 187px;

    display: inline;
    float: left;
    padding-left: 3px;
    padding-top: 16px;
    color: rgba(35, 49, 76, 1);
    padding-top: 8px;
    /*margin-left: -205px;*/
    margin-left: 6px;
}

#glassCollectionLabel {
    width: 173px;
    height: 19px;
    text-align: center;
    padding-top: 5px;
    margin-top: -5px;
    margin-left: 10px;
}

#glassCollectionRight {
    /*width: 199px;*/
    width: 100%;
    height: 35px;
    display: inline;
    float: left;
    padding-bottom: 10px;
    /*padding-top: 9px;*/
}

#glassStyleLabel {
    width: 173px;
    height: 19px;
    text-align: center;
    padding-top: 5px;
    margin-top: -5px;
    margin-left: 10px;
}

#pickDoor {
    border-top: 1px solid black;
    /*width: 1000px;*/
    width: 100%;
    /*height: 178px;*/
    /*height: 221px;*/
    padding-top: 5px;
    background: white;
    padding-top: 10px;
    display: block;
    min-height: 75px;
}

#pickDoorLeft {
    width: 450px;
    height: 15px;
    text-align: center;
    margin: 0 0 5px 0;
}

#pickDoorRight {
    /*width: 800px;*/
    width: 100%;
    /*height: 178px;*/
}

#doorImages .thumbnails > .thumbnail {
    width: 80px;
    height: 170px;
}

#myCarousel {
    /*width: 450px;*/
    /*height: 178px;*/
    background: white;
    min-height: 75px;
}

#buildDoorProgress {
    /*width: 449px;*/
    width: 50%;
    height: 40px;
    background: rgba(102, 102, 102, 1);
    border-top: 1px solid black;
    padding-top: 10px;
    padding: 7px 0px;
    display: block;
    /*position: relative;*/
    float: right;
}

/* ---- Part 1 [Door] ------*/

#sideLightOptions {
    width: 449px;
    height: 392px;
    background: white;
    display: block;
}

#glassStyle {

}

#glassOps {
    width: 434px;
    height: 40px;
}

#glassOpBtns {
    margin: 0px 9px 0 7px;
    width: 196px;
    padding: 5px 0 10px 0;
}

#glassCollectionDropdown {
    margin: 0 0 0 40px;
}

#myCarousel2 {
    /*width: 449px;*/
    /*height: 330px;*/
    min-height: 75px;
}

#sl-alert2 {
    width: 100%;
    /*height: 50px;*/
    height: 53px;
    /*padding-top: 13px;*/
    padding-top: 2px;
    background: rgba(179, 179, 179, 1);
    border-bottom: 1px solid #000000;
}

#sl-alert2-L {
    width: 170px;
    height: 20px;
    border: 1px solid black;
    border-radius: 3px;
    display: inline;
    float: left;
    overflow: hidden;
    margin: 9px -1px 0 0;
    padding: 8px 0 0 0;
    text-align: center;
}

#sl-alert2-R {
    width: 208px;
    margin-top: 9px;
    display: inline;
    float: left;
    margin-left: 106px;
}

#sl-alert1 {
    width: 100%;
    /*height: 50px;*/
    height: 52px;
    /*padding-top: 13px;*/
    background: rgba(179, 179, 179, 1);
}

#sl-alert1-L {
    width: 170px;
    height: 20px;
    border: 1px solid black;
    border-radius: 3px;
    display: inline;
    float: left;
    overflow: hidden;
    margin: 9px -1px 0 0;
    padding: 8px 0 0 0;
    text-align: center;
}

#sl-alert1-R {
    width: 208px;
    /*margin: 3px 0 0 25px;*/
    margin: 3px 0 0 117px;
    display: inline;
    float: left;
    overflow: hidden;
}

#tranny-alert1 {
    width: 100%;
    /*height: 50px;*/
    height: 52px;
    /*padding-top: 13px;*/
    padding-top: 0px;
}

#tranny-alert1-L {
    width: 170px;
    height: 20px;
    border: 1px solid black;
    border-radius: 3px;
    display: inline;
    float: left;
    overflow: hidden;
    margin: 9px -1px 0 0;
    padding: 8px 0 0 0;
    text-align: center;
}

#tranny-alert1-R {
    width: 208px;
    height: 40px;
    /*margin: 3px 0 0 25px;*/
    margin: 3px 0 0 120px;
    display: inline;
    float: left;
    overflow: hidden;
}

#tranny-alert2 {
    width: 100%;
    /*height: 50px;*/
    height: 52px;
    /*padding-top: 13px;*/
    padding-top: 0px;
}

#tranny-alert2-L {
    width: 170px;
    height: 20px;
    border: 1px solid black;
    border-radius: 3px;
    display: inline;
    float: left;
    overflow: hidden;
    margin: 9px -1px 0 0;
    padding: 8px 0 0 0;
    text-align: center;
}

#tranny-alert2-R {
    width: 208px;
    /*margin: 3px 0 0 25px;*/
    margin: 3px 0 0 133px;
    display: inline;
    float: left;
    overflow: hidden;
}

/* ---- Part 2 [Sidelights] ------*/
#trannyOptions {
    width: 449px;
    height: 392px;
    background: white;
    display: block; /* ==== Display: Block for veiwing ====*/
}

#tranOps {
    width: 434px;
    height: 40px;
}

#tranOpBtns {
    margin: 0px 9px 0 7px;
    width: 196px;
    padding: 5px 0 10px 0;
}

#glassCollectionDropdownTransom {
    margin: 0 0 0 233px;
}

#myCarousel3 {
    /*width: 449px;*/
    /*height: 330px;*/
    min-height: 75px;
}

#trannyGlassCollectionDropdown {
    margin: 6px 0 0 14px;
}

#doubleFrame2 {
    width: 340px;
    height: 340px;
    /*margin: 70px 60px;*/
    /*margin: 38px 60px;*/
    margin: 91px 142px;
    z-index: 1;
    background-repeat: no-repeat;
    /*position: absolute;*/
    float: left;

}

.doubleFrame2 {
    width: 100%;
    height: 340px;
    /*margin: 70px 60px;*/
    /*margin: 38px 60px;*/
    /*margin: 91px 142px;*/
    z-index: 1;
    background-repeat: no-repeat;
    /*position: absolute;*/
    position: relative;
    text-align: center;

}

#d-tran2 {
    /*height: 40px;*/
    margin: 0px;
    /*position: absolute;*/
    float: left;
    width: 340px;
}

.d-tran2 {
    /*height: 40px;*/
    margin: 0px;
    position: relative;
    /*float: left;*/
    width: 340px;
}

#d-tran2 img {
    width: 341px;
    margin-top: 0;
    /*margin-bottom: -15px;*/
    /*height: 58px;*/
}

#d-lsl2 {
    width: 49px;
    max-height: 300px;
    margin: 40px 0px;
    /*position: absolute;*/
    float: left;
}

#d-rsl2 {
    width: 49px;
    max-height: 300px;
    /*margin: 40px 290px;*/
    margin: 40px 289px;
    /*position: absolute;*/
    float: left;
}

#d-door2 {
    width: 240px;
    height: 300px;
    /*margin: 40px 50px;*/
    margin: 40px 49px;
    /*position: absolute;*/
    float: left;
}

#d-door2 img {
    height: 300px;
}

#singleFrame2 {
    width: 247px;
    height: 340px;
    background-repeat: no-repeat;
    /*position: relative;*/
    float: left;
    /*margin: 50px 127px;*/
    z-index: 2;
    margin: 91px 192px;
}

.singleFrame2 {
    width: 100%;
    height: 340px;
    background-repeat: no-repeat;
    /*position: relative;*/
    float: left;
    /*margin: 50px 127px;*/
    z-index: 2;
    text-align: center;

}

#s-door2 {
    /*width: 147px;*/
    width: 150px;
    height: 300px;
    /*margin: 40px 50px;*/
    margin: 40px 46px;
    z-index: 32;
    /*position: absolute;*/
    float: left;
    display: block;
}

#s-door2 img {
    /*width: 147px;*/
    width: 150px;
    height: 300px;
}

#s-lsl2 {
    width: 46px;
    height: 320px;
    margin: 40px 0px;
    /*position: absolute;*/
    float: left;
}

#s-rsl2 {
    width: 46px;
    height: 300px;
    /*position: absolute;*/
    float: left;
    margin: 40px 196px;
}

#s-tran2 {
    width: 240px;
    /*height: 40px;*/
    margin: 0px;
    /*position: absolute;*/
    float: left;
}

#s-tran2 img {
    width: 242px;
    height: 40px;
    position: relative;
}

/* ---- Part 3 [Transom] ------*/

#uploader {
    /*width: 900px;*/
    width: 80%;
    /*min-height: 550px;*/
    min-height: 600px;
    /*height: 400px;*/
    /*height: 500px;*/
    /*border-bottom: 2px solid black;*/
    overflow: hidden;
    background: #eaeaec;
}

#uploaderCloned {
    width: 100%;
    /*width: 900px;*/
    /*height: 400px;*/
    /*height: 500px;*/
    z-index: 33;
    /*background:rgba(102,255,204,1);*/
    position: absolute;
    /*margin-top: -406px;*/
    /*margin-top: -505px;*/

}

#clonedParts {

}

.rotateImg {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

#canvas2 {
    /*background: rgba(204,255,204,1);*/
    /*width: 100% !important;*/
}

#uploader-nav {
    background: rgb(34, 34, 34);
}

.up-nav {
    width: 300px;
    height: 67px;
    float: left;
    display: inline;
}

#up-nav-left-top {
    width: 100%;
    height: 50%;
    padding-left: 25px;
    padding-top: 15px;
    text-align: left;
    margin-top: -15px;
}

#up-nav-left-bottom {
    width: 100%;
    height: 50%;
}

#up-nav-center {
    margin-top: 3px;
    width: 368px;
    padding-left: 77px;
}

#up-nav-right {
    width: 125px;
}

#imageLoader {
    width: 125px;
}

/* ===== Step 3 ===== Try-It-On Styles Begin ===== */

/* class styles -- overwrite bootstrap styles -----*/

.label {
    border: 1px solid #222;
}

a {
    color: #222;
}

.disabled {
}

.thumbnails > li {
    /*margin-left: 10px;*/
    /*margin-left: 10px;*/
    /*max-width: 145px;*/
    /*max-width: 125px;*/
    padding-bottom: 5px;
    width: 109px;
}

.thumbnails {
    color: black;
    font-size: 10px;
    /*text-align: center;*/
    margin-left: 0;
}

.thumbnail > img {
    margin: 0 auto;
    /*max-height: 125px;*/
    max-height: 80px;
    max-width: 100%;
    min-height: 80px;
}

.thumbnail {
    /*max-width: 55%;*/
    max-height: 55%;
    margin: -2px 1px 1px 1px;
    background: white;
}

.btn {
    color: rgba(35, 49, 76, 1);
}

.carousel-inner > .item > {
    margin: 0 auto;
    height: 150px;
    width: 100px;
    background: red;
}

.showIt {
    display: block;
}

.alert {
    margin-bottom: 0;
}

.carousel-inner > .item > img {
    /*height: 150px;*/
    /*margin: 20px auto;*/
    /*float: left;*/
    display: inline-block;
    margin: 5px 20px;
    padding: 5px;
    max-height: 100px;
    cursor: pointer;
    min-width: 30px;
}

#myCarousel3 > .carousel-inner > .item > img {
    /*margin-top: 105px;*/
    max-height: 77px;
}

.shownPart {
    top: 0;
    left: 0;
    position: relative;
}

.shownPart img {
    max-width: 100%;
    max-height: 100%;
}

.itemCara {
    margin-left: 175px;
    max-width: 145px;
}

.trSubtitle {
    /*float: left;*/
    width: 98%;
    margin: 0 5px 5px 5px;
    color: graytext;
    font-size: 13px;
    text-align: center;
}

.trTitle {
    float: left;
    width: 98%;
    /*margin: 5px 5px 10px 5px;*/
    margin: 5px 5px 35px 5px;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
}

.thumbnail {
    max-width: 75% !important;
}

#footer {
    background-color: #f5f5f5;

}

.panel {
    /*margin-bottom: 20px;*/
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.panel-default {
    border-color: #ddd;
    min-height: 68px;
}

.defaultDoors {
    float: left;
    width: 20%;
    border-right: 1px solid #000000;
    height: 100%;
    /*max-height: 600px;*/
    /*min-height: 550px;*/
    /*overflow-y: scroll;*/
    /*overflow-x: hidden;*/
}

.file-input-name {
    display: none;
}

.DoorStyleImgCont {
    width: 92%;
    float: left;
    /*margin-left: 30px;*/
}

.DoorStyleImages img {
    float: left;
    cursor: pointer;
    max-height: 80px;
}

.ui-accordion .ui-accordion-content {
    padding: 1.0em 0em !important;
}

.carousel-inner > .item {
    text-align: center;
}

.carousel {
    margin-bottom: 0px !important;
}

.carousel img {
    cursor: pointer;
}

#build-a-door-right img {
    cursor: pointer;
}

.carousel-control {
    margin-top: -11px !important;
    background: #ffffff;
}

#config-left-top > li {
    /*margin-left: 42px !important;*/
}

#config-left-mid > li {
    /*margin-left: 42px !important;*/
}

.carousel-control:hover,
.carousel-control:focus {
    color: #000000 !important;
    text-decoration: none;
    opacity: 0.9;
    filter: alpha(opacity=90);
}

.panel-group {
    margin-bottom: 20px;
}

.panel-group .panel {
    margin-bottom: 0;
    border-radius: 4px;
    overflow: hidden;
}

.panel-default {
    border-color: #ddd;
    min-height: 0px !important;
}

.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    cursor: pointer;
}

.panel-default > .panel-heading {
    color: #333;
    background-color: #dddddd;
    border-color: #ddd;
}

.panel-group .panel-heading {
    border-bottom: 0;
}

.panel-heading > img {
    width: 15px;
    float: left;
}

.collapse {
    display: none;
    width: 100%;
    float: left;
}

.collapse.in {
    display: block;
}

.carousel-control {
    color: #000000 !important;
}

.panel-group .panel-heading {
    float: left;
    width: 100%;
}

.panel-body {
    float: left;
    width: 100%;
}

a.carousel-control {
    line-height: 115px !important;
}

#myCarousel3 > a.carousel-control {
    line-height: 75px !important;
}

.marginLeft15 {
    margin-left: 15%;
}

.marginLeft12 {
    margin-left: 12%;
}

.marginLeft25 {
    margin-left: 25%;
}

.marginLeft3 {
    margin-left: 3%;
}

.marginLeftImp3 {
    margin-left: 3% !important;
}

.marginLeft33 {
    margin-left: 33%;
}

.marginLeft20 {
    margin-left: 20%;
}

.marginLeftImp20 {
    margin-left: 20% !important;
}

.marginLeft11 {
    margin-left: 11%;
}

.marginLeft35 {
    margin-left: 35%;
}

.marginLeft40 {
    margin-left: 40%;
}

.marginLeft23 {
    margin-left: 23%;
}

.marginLeft18 {
    margin-left: 18%;
}

.marginLeft30 {
    margin-left: 30%;
}

.marginLeft0 {
    margin-left: 0;
}

.marginLeftImp0 {
    margin-left: 0 !important;
}

.marginLeft14 {
    margin-left: 14%;
}

.marginLeftPx45 {
    margin-left: 45px;
}

.marginLeftPxImp45 {
    margin-left: 45px !important;
}

.marginLeftPx50 {
    margin-left: 50px;
}

.marginLeftPx4 {
    margin-left: 4px;
}

.marginLeftPx3 {
    margin-left: 3px;
}

.marginLeftPx49 {
    margin-left: 49px;
}

.marginLeft7 {
    margin-left: 7%;
}

.marginLeft6 {
    margin-left: 6%;
}

.marginLeft22 {
    margin-left: 22%;
}

.margin0 {
    margin: 0;
}

.marginTop25 {
    margin-top: 25%;
}
